@using TodoList.Domain.DAL.Enums;
@using TodoList.MVC.ViewModels;
@model ToDoListTaskViewModel

<li class="list-group-item todo-list-task d-flex justify-content-between align-items-center py-1">
  <div>
    @switch (Model.Status)
    {
      case TodoStatus.NotStarted:
        <form id="update-task-status-@Model.Id" method="post" asp-controller="ToDoList" asp-action="UpdateTaskStatus">
          <input name="Id" type="hidden" value="@Model.Id">
          <input name="newStatus" type="hidden" value="@TodoStatus.InProgress">
          <button type="submit" class="btn btn-custom-margin btn-outline-secondary btn-sm task-status-btn" title="Start task" onclick="editTodoStatus('@Model.Id')">
            <svg stroke="currentColor" transform="rotate(-90)" fill="none" stroke-width="2" viewBox="0 -0.5 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.5 13.5L12 19l4.5-5.5M12 4V19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </form>
        break;
      case TodoStatus.InProgress:
        <form id="update-task-status-@Model.Id" method="post" asp-controller="ToDoList" asp-action="UpdateTaskStatus">
          <input name="Id" type="hidden" value="@Model.Id">
          <input name="newStatus" type="hidden" value="@TodoStatus.Completed">
          <button type="submit" class="btn btn-custom-margin btn-outline-secondary btn-sm task-status-btn" title="Complete task" onclick="editTodoStatus('@Model.Id')">
            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="-1 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
              <path d="M18 7L9.42857 17L6 13" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </form>
        break;
      case TodoStatus.Completed:
        <button type="button" class="btn btn-custom-margin btn-outline-secondary btn-sm task-status-btn" disabled>
          <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="-1 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 7L9.42857 17L6 13" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
        break;
    }
  </div>
  <div id="task-@Model.Id" class="w-100">
    <button id="todo-modal-button-@Model.Id" type="button" class="btn btn-custom-margin btn-custom-transparent" data-modal-id="@Model.Id" onclick="openModal(this)">
      <span class="task-title">@Model.Title</span>
    </button>
  </div>
  <form method="post" asp-controller="ToDoList" asp-action="DeleteTask">
    <button type="submit" class="btn btn-custom-margin btn-outline-secondary btn-sm" style="display: flex; align-items: center; justify-content: center; padding:4px;" data-toggle="modal" data-target="#confirmDeleteModal" data-id="@Model.Id" onclick="showTaskDeleteConfirmation(event)">
      <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
    </button>
  </form>
  <div id="todo-modal-@Model.Id" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-modal-id="@Model.Id">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="todo-modal-label">Task Details</h5>
        </div>
        <div class="modal-body">
          <form id="todo-form-@Model.Id" method="post" asp-action="UpdateTask" asp-controller="ToDoList">
            <div class="mb-2">
              <input name="Id" type="hidden" value="@Model.Id">
              <label asp-for="Title" class="form-label">Title:</label>
              <input asp-for="Title" class="form-control form-control-custom form-custom-bg" value="@Model.Title">
              <span asp-validation-for="Title" class="text-danger"></span>
              <input asp-for="ToDoListId" type="hidden">
            </div>
            <div class="mb-2">
              <label asp-for="Description" class="form-label">Description:</label>
              <textarea asp-for="Description" class="form-control form-control-custom form-custom-bg textarea-description" placeholder="Write some notes">@Model.Description</textarea>
              <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-2">
              <label asp-for="DueDate" class="form-label">Due Date:</label>
              <input asp-for="DueDate" class="form-control form-control-custom form-custom-bg" />
            </div>
            <div class="mb-2">
              <label asp-for="Status" class="form-label">Status:</label>
              <select asp-for="Status" name="Status" class="form-control form-control-custom form-custom-bg" asp-items="Html.GetEnumSelectList(typeof(TodoStatus))"></select>
            </div>
            <div class="mb-2">
              <label asp-for="Reminder" class="form-label">Reminder:</label>
              <input asp-for="Reminder" class="form-control form-control-custom form-custom-bg" />
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-between">
          <div>
            <small class="text-muted">Created at: @Model.CreationDate.ToString("g")</small>
          </div>
          <div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cancelEdit('@Model.Id')">Close</button>
            <button type="submit" form="todo-form-@Model.Id" class="btn btn-primary">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>